<p id="notice"><%= notice %></p>

<% credits = 0 %>
<% debits = 0%>

<h1>Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Total Amount Of Money In Your Account: </th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <% credits += transaction.amount if transaction.debit_or_credit == "Credit" %>
      <% debits += transaction.amount if transaction.debit_or_credit == "Debit" %>
    <% end %>
    <tr>
      <td>$<%= credits - debits %></td>
    </tr>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Total Number Of Transactions: </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @transactions.size %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'List Of Transactions', transactions_path %>
